<ng-container [formGroup]="form">
  <ng-container formArrayName="addresses"]>
    <ng-container *ngFor="let address of addresses.controls; let i = index;">
      <div class="address-line" [formGroupName]="i">
        <label for="{{ 'addressLine' + i }}">Address Line {{i}}: </label>
        <input type="text" name="{{ 'addressLine' + i }}" formControlName="address" />
      </div>
    </ng-container>
  </ng-container>
</ng-container>

<div class="add-button">
  <button (click)="addAddressLine()">Add Address Line</button>
</div>
